doctype html
head
meta(charset='UTF-8')
meta(name='viewport', content='width=device-width,initial-scale=1')
title iAppeal
link(rel='stylesheet', href='/stylesheets/style.css')
header
  .secure-header
    .row
      .column.hide-for-small-only.medium-5.sm2-header__left-content
      .column.small-12.medium-2.sm2-header__center-content.text-center
        h1 iAppeal
      .column.hide-for-small-only.medium-5.sm2-header__right-content

block content
  .row
    .column
      h2 Success
      p Page has been submitted successfully
