doctype html
head
meta(charset='UTF-8')
meta(name='viewport', content='width=device-width,initial-scale=1')
title iAppeal
link(rel='stylesheet', href='/stylesheets/style.css')
header
  .secure-header
    .row
      .column.small-4.medium-5.sm2-header__left-content
      .column.small-4.medium-2.sm2-header__center-content.text-center
        h1 iAppeal
      .column.small-4.medium-5.sm2-header__right-content

.row.align-center
  .columns.small-12.medium-10
    h1 Privacy policy
    p
        strong Purpose
    p
        | iAppeal is designed in the wake of the Australian bushfires that has claimed large losses to individuals, families and wildlife. It is built to capture a comprehensive database on what any individual affected would need from various organisations. iAppeal plans to share these datasets with various established charitable, not-for-profit and for-profit organisations to help distribute the resources effectively and as fairly as possible to each of the individuals using iAppeal. iAppeal currently has no formal established relationship with any organisations directly or indirectly involved in the bushfire crisis. However, iAppeal will reach out to all and any organisations involved or willing to be involved in aid, support and recovery.
    p
        | iAppeal cares about protecting your privacy and is required by law to comply with the Privacy Act 1988 (Cth) (the Act), including the Australian Privacy Principles (APPs). We take our privacy obligations seriously and this Policy outlines our privacy practices. It explains how:
    ol
        li  we collect, manage, use, store and secure your personal information
        li  you may access and request correction of any record containing your personal information
        li  you may make a complaint about a breach of privacy
    p
        | Your personal information will only be shared by organisations that abide by the above Act. Your personal information will only be shared by such organisations with expectation that your privacy is protected but your needs are fulfilled.
    p
        | We collect your Personal Information for the primary purpose of providing services to you. We may use your personal Information for secondary purposes closely related to the primary purpose, in circumstances where you would reasonably expect such use or disclosure. Your information may also be provided to third parties for research purposes (i.e. environmental, medical, planning, support, etc). The intention of these parties should be focused on improving the services provided to you in present or future.
    p How do we manage your personal information?
    ul
        | The purpose of collecting this information is to provide a speedy service whereby organisations can receive a checklist that identifies each individual with their immediate need at a specific location. 
        | We will: 
        li take all reasonable steps to ensure we are open and transparent about the way we manage your personal information
        li maintain adequate security of personal information to seek to protect it from misuse, interference and loss from unauthorised access, modification or disclosure
        li establish reporting channels to receive privacy inquiries from you and for reports of privacy breaches to be received and acted upon
        li conduct risk assessment for all new and significant business projects which consider privacy impacts
        li provide an option for you to use a pseudonym or otherwise be anonymous unless it is impermissible, impractical or inhibits the adequacy or quality of service provided to you
        li Committee and the Board Audit &amp; Risk Committee 
        li provide this Policy free of charge and in an appropriate form for public access 
        li provide relevant work training and privacy awareness on how the APPs apply to us and how they are reflected in privacy practices, procedures and systems
        li periodically review this Policy as well as the privacy practices, procedures and systems across our organisation to ensure that they remain appropriate to the changing environment we operate in and will notify you by, informing you in our regular communications or posting an updated version of this Policy on our websites.
    p
        strong Personal information we collect and hold
    p
        | We will only collect information about you that is reasonably necessary for our functions or activities. These include, your name, your contact detail, your location and a list of what your needs are at the time your submission/application.
    p
        | We then submit the electronic format of the dataset we have collected to appropriate bodies who can distributes goods and help to those affected. These organisations may choose to contact you to verify you and your needs and arrange plans to meet your needs. This is why we share your name and contact number and address with these organisations.
    p
        strong Retention of personal information
    p
        | We will retain your personal information, so we can contact you in future for feedback to help us improve our design and service. You may choose to not participate in survey or conversation with us in future. Upon first contact, you can inform us of such intentions, and we will not contact your again.
    p
footer.secure-footer
    .row
        p.column.small-12.medium-6.sm-footer__copy iAppeal
        p.column.small-12.medium-6.sm-footer__copy.sm-footer__copy--text-right
