doctype html
head
meta(charset='UTF-8')
meta(name='viewport', content='width=device-width,initial-scale=1')
title iAppeal
link(rel='stylesheet', href='/stylesheets/style.css')
header
  .secure-header
    .row
      .column.small-4.medium-5.sm2-header__left-content
      .column.small-4.medium-2.sm2-header__center-content.text-center
        h1 iAppeal
      .column.small-4.medium-5.sm2-header__right-content

.row.align-center
  .columns.small-12.medium-10
    form#iappeal-form(method='POST', action='')
      .rendered-form
        .formbuilder-text.form-group
          label.formbuilder-text-label(for='full_name')
            | Full Name
            span.formbuilder-required *
          input#full-name.form-control(type='text' placeholder='Full Name' name='full_name' required='required' aria-required='true')
        .formbuilder-number.form-group
          label.formbuilder-number-label(for='phone_number')
            | How could we reach you?
            span.formbuilder-required *
          input#phone-number.form-control(type='number' placeholder='Phone no' name='phone_number' required='required' aria-required='true')
        .formbuilder-select.form-group
          label.formbuilder-select-label(for='select_status') Status
          select#select-1578818269402.form-control(name='person_status')
            option(value='Volunteer') Volunteer
            option(value='Victim') Victim
        .formbuilder-text.form-group
          label.formbuilder-text-label(for='address') Where do we reach you?
          input#address.form-control(type='text' placeholder='Address' name='address')
        div
          h3 Please select the items you need
        .formbuilder-checkbox-group.form-group.field-food
          label.formbuilder-checkbox-group-label(for='food') Food
          .checkbox-group
            .formbuilder-checkbox-inline
              input#food-0(name='food' value='Muesli bar' type='checkbox')
              label(for='food-0') Muesli bar
            .formbuilder-checkbox-inline
              input#food-1(name='food' value='Packaged baby food' type='checkbox')
              label(for='food-1') Packaged baby food
            .formbuilder-checkbox-inline
              input#food-2(name='food' value='Powder/long life milk' type='checkbox')
              label(for='food-2') Powder/long life milk
            .formbuilder-checkbox-inline
              input#food-3(name='food' value='Chips' type='checkbox')
              label(for='food-3') Chips
            .formbuilder-checkbox-inline
              input#food-4(name='food' value='Lollies' type='checkbox')
              label(for='food-4') Lollies
            .formbuilder-checkbox-inline
              input#food-5(name='food' value='Tea' type='checkbox')
              label(for='food-5') Tea
            .formbuilder-checkbox-inline
              input#food-6(name='food' value='Salt' type='checkbox')
              label(for='food-6') Salt
            .formbuilder-checkbox-inline
              input#food-7(name='food' value='Sugar' type='checkbox')
              label(for='food-7') Sugar
            .formbuilder-checkbox-inline
        .formbuilder-text.form-group
          label.formbuilder-text-label(for='food_other') Please enter any other food item
          input#food-8.form-control(type='text' name='food')
        .formbuilder-checkbox-group.form-group
          label.formbuilder-checkbox-group-label(for='SPnT') Sanitary products and Toiletries
          .checkbox-group
            .formbuilder-checkbox-inline
              input#Toothbrush(name='SPnT' value='Toothbrush' type='checkbox')
              label(for='Toothbrush') Toothbrush
            .formbuilder-checkbox-inline
              input#Toothpaste(name='SPnT' value='Toothpaste' type='checkbox')
              label(for='Toothpaste') Toothpaste
            .formbuilder-checkbox-inline
              input#Wipes(name='SPnT' value='Wipes' type='checkbox')
              label(for='Wipes') Wipes
            .formbuilder-checkbox-inline
              input#Nappies(name='SPnT' value='Nappies' type='checkbox')
              label(for='Nappies') Nappies
            .formbuilder-checkbox-inline
              input#Pads(name='SPnT' value='Pads' type='checkbox')
              label(for='Pads') Pads
            .formbuilder-checkbox-inline
              input#Toilet-roll(name='SPnT' value=' Toilet roll ' type='checkbox')
              label(for='Toilet_roll')  Toilet roll
            .formbuilder-checkbox-inline
              input#Shampoo(name='SPnT' value='Shampoo' type='checkbox')
              label(for='Shampoo') Shampoo
            .formbuilder-checkbox-inline
              input#Soap(name='SPnT' value='Soap' type='checkbox')
              label(for='Soap') Soap
            .formbuilder-checkbox-inline
              input#Towel(name='SPnT' value='Towel' type='checkbox')
              label(for='Towel') Towel
            .formbuilder-checkbox-inline
              input#r-b(name='SPnT' value='Rubbish bags' type='checkbox')
              label(for='rubbish_bags') Rubbish bags
        .formbuilder-text.form-group.field-text-1578819023503
          label.formbuilder-text-label(for='SnPT_other') Please enter any other sanitary and toiletaries
          input#text-1578819023503.form-control(type='text' name='SPnT')
        .formbuilder-checkbox-group.form-group
          label.formbuilder-checkbox-group-label(for='Stationary') Stationary
          .checkbox-group
            .formbuilder-checkbox-inline
              input#Pen(name='Stationary' value='Pen' type='checkbox')
              label(for='Pen') Pen
            .formbuilder-checkbox-inline
              input(name='Stationary' value='Color pencils' type='checkbox')
              label(for='Color_pencils') Color pencils
            .formbuilder-checkbox-inline
              input#Paper(name='Stationary' value='Paper' type='checkbox')
              label(for='Paper') Paper
            .formbuilder-checkbox-inline
              input#Tapes(name='Stationary' value='Tapes' type='checkbox')
              label(for='Tapes') Tapes
            .formbuilder-checkbox-inline
              input#Books(name='Stationary' value='Books' type='checkbox')
              label(for='Books') Books
        .formbuilder-text.form-group
          label.formbuilder-text-label(for='Stationary_other') Please enter any other stationary item
          input#Stationary_other.form-control(type='text' name='Stationary')
        .formbuilder-checkbox-group.form-group
          label.formbuilder-checkbox-group-label(for='First_aid') First aid
          .checkbox-group
            .formbuilder-checkbox-inline
              input#Vaseline(name='First_aid' value='Vaseline' type='checkbox')
              label(for='Vaseline') Vaseline
            .formbuilder-checkbox-inline
              input#Vitamins(name='First_aid' value='Vitamins' type='checkbox')
              label(for='Vitamins') Vitamins
            .formbuilder-checkbox-inline
              input#Hydrolyte(name='First_aid' value='Hydrolyte' type='checkbox')
              label(for='Hydrolyte') Hydrolyte
            .formbuilder-checkbox-inline
              input#mask(name='First_aid' value='Burns  Airway (i.e. Mask, buffers)' type='checkbox')
              label(for='mask') Burns  Airway (i.e. Mask, buffers)
            .formbuilder-checkbox-inline
              input#Epipen(name='First_aid' value='Epipen' type='checkbox')
              label(for='Epipen') Epipen
            .formbuilder-checkbox-inline
              input#Insulin(name='First_aid' value='Insulin' type='checkbox')
              label(for='Insulin') Insulin
            .formbuilder-checkbox-inline
              input#Medication(name='First_aid' value='Medication' type='checkbox')
              label(for='Medication') Medication
            .formbuilder-checkbox-inline
              input#Aloe_Vera_gel(name='First_aid' value='Aloe Vera gel ' type='checkbox')
              label(for='Aloe_Vera_gel') Aloe Vera gel
            .formbuilder-checkbox-inline
              input#Bottled_water(name='First_aid' value='Bottled water' type='checkbox')
              label(for='Bottled_water') Bottled water
            .formbuilder-checkbox-inline
              input#eye_drops(name='First_aid' value='Eye drops' type='checkbox')
              label(for='eye_drops') Eye drops
            .formbuilder-checkbox-inline
              input#Sinus_wash(name='First_aid' value='Sinus wash ' type='checkbox')
              label(for='Sinus_wash') Sinus wash
            .formbuilder-checkbox-inline
              input#Lozenges(name='First_aid' value='Lozenges' type='checkbox')
              label(for='Lozenges') Lozenges
            .formbuilder-checkbox-inline
              input#Bandage(name='First_aid' value='Bandage' type='checkbox')
              label(for='Bandage') Bandage
            .formbuilder-checkbox-inline
              input#Sunscreen(name='First_aid' value='Sunscreen' type='checkbox')
              label(for='Sunscreen') Sunscreen
        .formbuilder-text.form-group
          label.formbuilder-text-label(for='First_aid_other') Please specify any particular medications or injuries
          input#First_aid.form-control(type='text' name='First_aid')
        .formbuilder-checkbox-group.form-group
          label.formbuilder-checkbox-group-label(for='Survival') Survival
          .checkbox-group
            .formbuilder-checkbox-inline
              input#Survival-0(name='Survival' value='Water' type='checkbox')
              label(for='Survival-0') Clean Water
            .formbuilder-checkbox-inline
              input#Survival-1(name='Survival' value='Hose' type='checkbox')
              label(for='Survival-1') Hose
            .formbuilder-checkbox-inline
              input#Survival-2(name='Survival' value='Electricity' type='checkbox')
              label(for='Survival-2') Electricity
            .formbuilder-checkbox-inline
              input#Survival-3(name='Survival' value='Phone access' type='checkbox')
              label(for='Survival-3') Phone access
            .formbuilder-checkbox-inline
              input#Survival-4(name='Survival' value='Internet access' type='checkbox')
              label(for='Survival-4') Internet access
            .formbuilder-checkbox-inline
              input#Survival-5(name='Survival' value='Generators' type='checkbox')
              label(for='Survival-5') Generators
            .formbuilder-checkbox-inline
              input#Survival-6(name='Survival' value='Truck / transport' type='checkbox')
              label(for='Survival-6') Truck / transport
            .formbuilder-checkbox-inline
              input#Survival-7(name='Survival' value='Fuel' type='checkbox')
              label(for='Survival-7') Fuel
            .formbuilder-checkbox-inline
              input#Survival-8(name='Survival' value='Matches' type='checkbox')
              label(for='Survival-8') Matches
            .formbuilder-checkbox-inline
              input#Survival-9(name='Survival' value='Candles' type='checkbox')
              label(for='Survival-9') Candles
        .formbuilder-text.form-group
          label.formbuilder-text-label(for='Survival_other') Please specify any other item for survival kit
          input#Survival.form-control(type='text' name='Survival')
        .formbuilder-checkbox-group.form-group.field-bedding
          label.formbuilder-checkbox-group-label(for='bedding') Bedding
          .checkbox-group
            .formbuilder-checkbox-inline
              input#bedding-0(name='bedding' value='Blankets' type='checkbox')
              label(for='bedding-0') Blankets
            .formbuilder-checkbox-inline
              input#bedding-1(name='bedding' value='Sleeping Bag' type='checkbox')
              label(for='bedding-1') Sleeping Bag
            .formbuilder-checkbox-inline
              input#bedding-2(name='bedding' value='Bed Sheets' type='checkbox')
              label(for='bedding-2') Bed Sheets
            .formbuilder-checkbox-inline
              input#bedding-3(name='bedding' value='Pillows' type='checkbox')
              label(for='bedding-3') Pillows
        .formbuilder-checkbox-group.form-group.field-Storage
          label.formbuilder-checkbox-group-label(for='Storage') Storage
          .checkbox-group
            .formbuilder-checkbox-inline
              input#Storage-0(name='Storage' value='Boxes' type='checkbox')
              label(for='Storage-0') Boxes
            .formbuilder-checkbox-inline
              input#Storage-1(name='Storage' value='Zipped Bags' type='checkbox')
              label(for='Storage-1') Zipped Bags
        .formbuilder-checkbox-group.form-group.field-kids_items
          label.formbuilder-checkbox-group-label(for='kids_items') Kids Items
          .checkbox-group
            .formbuilder-checkbox-inline
              input#kids_items-0(name='kids_items' value='Toys' type='checkbox')
              label(for='kids_items-0') Toys
            .formbuilder-checkbox-inline
              input#kids_items-1(name='kids_items' value='Books' type='checkbox')
              label(for='kids_items-1') Books
            .formbuilder-checkbox-inline
              input#kids_items-2(name='kids_items' value='Entertainment' type='checkbox')
              label(for='kids_items-2') Entertainment
        .formbuilder-checkbox-group.form-group.field-Home_Shelter_Items
          label.formbuilder-checkbox-group-label(for='Home_Shelter_Items') Home and Shelter related Items
          .checkbox-group
            .formbuilder-checkbox-inline
              input#Home_Shelter_Items-0(name='Home_Shelter_Items' value='Shelter' type='checkbox')
              label(for='Home_Shelter_Items-0') Shelter
            .formbuilder-checkbox-inline
              input#Home_Shelter_Items-1(name='Home_Shelter_Items' value='Tent' type='checkbox')
              label(for='Home_Shelter_Items-1') Tent
            .formbuilder-checkbox-inline
              input#Home_Shelter_Items-2(name='Home_Shelter_Items' value='Crockery' type='checkbox')
              label(for='Home_Shelter_Items-2') Crockery
        .formbuilder-checkbox-group.form-group
          label.formbuilder-checkbox-group-label(for='Electronics') Electronics
          .checkbox-group
            .formbuilder-checkbox-inline
              input#Electronics-0(name='Electronics' value='Extension cord' type='checkbox')
              label(for='Electronics-0') Extension cord
            .formbuilder-checkbox-inline
              input#Electronics-1(name='Electronics' value='Radio' type='checkbox')
              label(for='Electronics-1') Radio
            .formbuilder-checkbox-inline
              input#Electronics-2(name='Electronics' value='Torch' type='checkbox')
              label(for='Electronics-2') Torch
            .formbuilder-checkbox-inline
              input#Electronics-3(name='Electronics' value='Batteries (DD, AA, AAA)' type='checkbox')
              label(for='Electronics-3') Batteries (DD, AA, AAA)
            .formbuilder-checkbox-inline
              input#Electronics-4(name='Electronics' value='Charger' type='checkbox')
              label(for='Electronics-4') Charger
        .formbuilder-text.form-group
          label.formbuilder-text-label(for='Electronics_other') Please specify any other electronics items
          input#text-1578820377127.form-control(type='text' name='Electronics')
        .formbuilder-checkbox-group.form-group.field-k_clothing
          label.formbuilder-checkbox-group-label(for='k_clothing') kids clothing
          .checkbox-group
            .formbuilder-checkbox-inline
              input#k_clothing-0(name='k_clothing' value='xs' type='checkbox')
              label(for='k_clothing-0') xs
            .formbuilder-checkbox-inline
              input#k_clothing-1(name='k_clothing' value='small' type='checkbox')
              label(for='k_clothing-1') small
            .formbuilder-checkbox-inline
              input#k_clothing-2(name='k_clothing' value='medium' type='checkbox')
              label(for='k_clothing-2') medium
            .formbuilder-checkbox-inline
              input#k_clothing-3(name='k_clothing' value='large' type='checkbox')
              label(for='k_clothing-3') large
            .formbuilder-checkbox-inline
              input#k_clothing-4(name='k_clothing' value='xl' type='checkbox')
              label(for='k_clothing-4') xl
        .formbuilder-checkbox-group.form-group.field-m_clothing
          label.formbuilder-checkbox-group-label(for='m_clothing') Men clothing
          .checkbox-group
            .formbuilder-checkbox-inline
              input#m_clothing-0(name='m_clothing' value='small' type='checkbox')
              label(for='m_clothing-0') small
            .formbuilder-checkbox-inline
              input#m_clothing-1(name='m_clothing' value='medium' type='checkbox')
              label(for='m_clothing-1') medium
            .formbuilder-checkbox-inline
              input#m_clothing-2(name='m_clothing' value='large' type='checkbox')
              label(for='m_clothing-2') large
            .formbuilder-checkbox-inline
              input#m_clothing-3(name='m_clothing' value='xl' type='checkbox')
              label(for='m_clothing-3') xl
            .formbuilder-checkbox-inline
              input#m_clothing-4(name='m_clothing' value='2xl' type='checkbox')
              label(for='m_clothing-4') 2xl
        .formbuilder-checkbox-group.form-group.field-w_clothing
          label.formbuilder-checkbox-group-label(for='w_clothing') women clothing
          .checkbox-group
            .formbuilder-checkbox-inline
              input#w_clothing-0(name='w_clothing' value='xs' type='checkbox')
              label(for='w_clothing-0') xs
            .formbuilder-checkbox-inline
              input#w_clothing-1(name='w_clothing' value='small' type='checkbox')
              label(for='w_clothing-1') small
            .formbuilder-checkbox-inline
              input#w_clothing-2(name='w_clothing' value='medium' type='checkbox')
              label(for='w_clothing-2') medium
            .formbuilder-checkbox-inline
              input#w_clothing-3(name='w_clothing' value='large' type='checkbox')
              label(for='w_clothing-3') large
            .formbuilder-checkbox-inline
              input#w_clothing-4(name='w_clothing' value='xl' type='checkbox')
              label(for='w_clothing-4') xl
        .formbuilder-text.form-group.field-m-footwear-size
          label.formbuilder-text-label(for='m-footwear-size') Men footwear size
          input#m-footwear-size.form-control(type='text' name='m-footwear-size' maxlength='5')
        .formbuilder-text.form-group.field-w-footwear-size
          label.formbuilder-text-label(for='w-footwear-size') Women &apos;s footwear size
          input#w-footwear-size.form-control(type='text' name='w-footwear-size' maxlength='5')
        .formbuilder-text.form-group.field-k-footwear-size
          label.formbuilder-text-label(for='k-footwear-size') Kids &apos;s footwear size
          input#k-footwear-size.form-control(type='text' name='k-footwear-size' maxlength='5')
        .formbuilder-textarea.form-group
          label.formbuilder-textarea-label(for='other_items') Please enter any other items not listed above
          textarea#other_items.form-control(type='textarea' name='other_items')
        .formbuilder-checkbox-group.form-group.field-privacy_policy
          label.formbuilder-checkbox-group-label(for='privacy_policy')
            .checkbox-group
              .formbuilder-checkbox-inline
                input#privacy_policy-0(name='privacy_policy[]' required='required' aria-required='true' value='privacy_policy' type='checkbox')
                label(for='privacy_policy-0') 
                | I agree to the 
                a(href='/privacy', target='_blank') Privacy Policy
        .formbuilder-button.form-group.btn-grp
          button#resetbtn.iappeal-btn.iappeal-btn--secondary(type='reset') Reset
          button#submit-btn.iappeal-btn(type='submit') Submit
 
footer.secure-footer
  .row
    p.column.small-12.medium-6.sm-footer__copy iAppeal
    p.column.small-12.medium-6.sm-footer__copy.sm-footer__copy--text-right

    if errors 
      ul
      for error in errors
        li!= error.msg